

<div class="card mt-2" id="view_order_stancer_block">
  <div id="stancerPaymentCard" class="payment card">
    <div class="card-header">
      <h3 class="card-header-title">
        {{ 'Stancer payment'|trans({}, 'Stancer.Invoice')}}
      </h3>
    </div>
  </div>

  <div class="card-body">
    <div id="StancerInfo" class="info-block">
      <h2 class="mb-0">
        {# <i class"material-icons">credit_card</i> #}
        {{'Payment'|trans({},'Stancer.Invoice')}}: "{{stancerForDisplay.id}}"
      </h2>
    </div>
    <div id="stancerInfo" class="row mt-3">
    {% if stancerForDisplay.method is same as("card") %}
      <div id="cardBrand" class="col-xxl-6">
        <p class="mb-1">
          {{'Card Brand'|trans({},'Stancer.Invoice')}}: {{stancerForDisplay.brand|capitalize}}
        </p>
        <p class="mb-1">
          {{"Last four"|trans({},'Stancer.Invoice')}}: {{stancerForDisplay.last_four}}
        </p>
        <p class="mb-1">
          {{"Expiration Date"|trans({},'stancer.Invoice')}}: {{stancerForDisplay.expiration_date}}
        </p>
        <p>
         {{"CVC"|trans({},'stancer.Invoice')}}: ***
        </p>
      </div>
      {% endif %}
      <div id="stancerPaymentInfo" class="col-xxl-6">
        <div>
          <h2>
            {{"Status"|trans({},"Stancer.Invoice")}}: {{stancerForDisplay.status}}
          </h2>
          <p class="mb-1">
            {{"amount paid"|trans({},'Stancer.Invoice')}}: {{stancerForDisplay.total_amount}}
          </p>
        </div>
        <div id="StancerForm">
          {% include '@Modules/stancer/views/templates/admin/order/stancer_form.html.twig' %}
        </div>
      </div>
    </div>
  </div>
</div>

